<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.petstore.dao.PetMapper">
  <resultMap id="BaseResultMap" type="com.nf147.petstore.entity.Pet">
    <id column="pet_id" jdbcType="INTEGER" property="petId" />
    <result column="ca_id" jdbcType="INTEGER" property="caId" />
    <result column="pet_name" jdbcType="VARCHAR" property="petName" />
    <result column="pet_price" jdbcType="DECIMAL" property="petPrice" />
    <result column="pet_status" jdbcType="VARCHAR" property="petStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pet
    where pet_id = #{petId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.petstore.entity.Pet">
    insert into pet (pet_id, ca_id, pet_name, 
      pet_price, pet_status)
    values (#{petId,jdbcType=INTEGER}, #{caId,jdbcType=INTEGER}, #{petName,jdbcType=VARCHAR}, 
      #{petPrice,jdbcType=DECIMAL}, #{petStatus,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.petstore.entity.Pet">
    update pet
    set ca_id = #{caId,jdbcType=INTEGER},
      pet_name = #{petName,jdbcType=VARCHAR},
      pet_price = #{petPrice,jdbcType=DECIMAL},
      pet_status = #{petStatus,jdbcType=VARCHAR}
    where pet_id = #{petId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select pet_id, ca_id, pet_name, pet_price, pet_status
    from pet
    where pet_id = #{petId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select pet_id, ca_id, pet_name, pet_price, pet_status
    from pet
  </select>
</mapper>